# OS, IDEs, tooling
.DS_Store
.idea/

# settings files / local development
.env*
**local**
/apis_core
/apis_acdhch_default_settings

# Python-specific
.*.pyc
__pycache__/
*.mo
*.pot

# publishing
dist
build

# logging
*.log


# exceptions from above ignore rules
!/apis_ontology/**/locale/
